.header {
  background-color: #555;
  color: $white;
  padding: 32px 0;

  @include themify(theme-type(color)){
    color: theme-property(tertiary-font);
    background-color: theme-property(box-bg);
  }
}