.project {
  background-color: $white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 32px;

  @include e(heading) {
    margin-bottom: 16px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  @include e(link) {
    color: #555;
  }

  @include e(description) {
    margin-bottom: 32px;
    text-align: justify;
  }

  @include e(btn) {
    margin-left: 8px;;
  }
}